flask
flask-sqlalchemy
flask-restful
flask-cors
requests
numpy
opencv-python
pillow
tensorflow
keras
scikit-learn
matplotlib
geopy
pyttsx3
speechrecognition
pyyaml
eventlet
mediapipe
ultralytics
playsound